@model IEnumerable<HW6.Models.ProductPhoto>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="@Url.Content("~/Content/myStyle.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/homePageStyle.css")" />
}

@*The image on the home page*@
<div class="home-page-container">
    <img id="main-page-image" src="~/Content/1.jpg" />
</div>