@{
    ViewBag.Title = "DMV Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome to the DMV website</h1>
            <p class="lead">Here you can create a request to change your address and view current address change requests (Not really safe to show everyone who is changing their address but this is a school project so who cares).</p>
        </div>
    </div>
    <!--a couple of simple buttons that take you to the address change request and record display pages-->
    <div class="row">
        <div class="col-lg-3">
            @Html.ActionLink("Change Address", "CreateNewAddress", "Customers", null, new { @class = "btn btn-primary btn-lg" })
        </div>
        <div class="col-lg-3">
            @Html.ActionLink("Current Requests", "DisplayRequests", "Customers", null, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
</div>