@model HW6.Models.ProductReview
@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Thank You <b>@Model.ReviewerName</b> for submitting your review!!</h2>

