@{
    ViewBag.Title = "Home Page";
    <link rel="stylesheet" href="@Url.Content("~/Content/myStyle.css")"/>
}

<div class="row">
    <div class="col-md-8 col-md-offset-4">
        <input type="text" name="search" placeholder="Search..">
    </div>
</div>