@{
    ViewBag.Title = "Home Page";
    <link rel="stylesheet" href="@Url.Content("~/Content/myStyle.css")"/>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 id="search-gifs">Search Gifs</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" id="search-box-col">
            <input type="text" name="search" placeholder="Search Something.." id="search-box">
            <button class="btn btn-primary" type="button" id="search-button" onclick="search()">Search</button>
        </div>
    </div>
</div>

<div id="gif-container">

</div>


@section CustomScripts{ 
    <script type="text/javascript" src="~/Scripts/asyncWorker.js"></script>
}