@model IEnumerable<HW8.Model.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GenreName }) |
            @Html.ActionLink("Details", "Details", new { id=item.GenreName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GenreName })
        </td>
    </tr>
}

</table>
