/*table style*/

.myTable {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #3949AB;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.form-control {
    border: solid 2px;
    border-color: #b9b4b4;
    border-radius: 0px;
    background-color: #fffef7;
}

.btn.btn-default {
    background-color: #4054c1;
    border-radius: 0px;
    color: white;
    font-size: 16px;
    padding-left: 35px;
    padding-right: 35px;
}

#main-page-title {
    margin-top: 40px;
}

.home-page-genre-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.control-label {
    color: #515151;
}

.title-h2 {
    color: #515151;
}

a {
    color: #4054c1;
}

#genre-table {
    min-width: 100%;
}