body {
    background-color: darkslategray;
}

input[type=text] {
    width: 140px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
   width: 100%;
   border: 1px solid;
   border-color: dimgray;
   border-radius: 20px;
   box-shadow: #888888; 
}


#search-gifs {
    text-align: center;
    color: white;
}

#search-box {
    height: 47px;
    border: 1px solid;
    border-color: dimgray;
    border-radius: 23px;
    padding-left: 10px;
    margin-right: 20px;
}


#search-box-col {
    margin-left: 37%;
}

#search-button {
    height: 47px;
    min-width: 110px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 23px;
    border-color: #4527A0;
    color: white;
    background-color: #673AB7;
}

#search-box-row {
    margin-top: 20px !important;
    margin-bottom: 40px !important;
}


.gif-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.gif-image-div {
    padding-bottom: 5px;
    background-color: #E0E0E0;
    box-shadow: 2px 2px 8px 2px #888888;
    margin-top: 20px;
    border-radius: 3px;
}

.btn-group.rating-button-group button.btn.btn-primary {
    background-color: #673AB7;
    border-color: #4527A0;
    min-height: 44px;
}

.btn-group.rating-button-group button.btn.btn-primary:visited {
    background-color: #4527A0;
}

#rating-h5 {
    color: white;
    font-size: 16px;
}