
@{
    ViewBag.Title = "Page three post";
}

@if (ViewBag.monthPayment != null)
{
    <h3>Your monthly payments are: @ViewBag.monthPayment</h3>
    <h3>The sum of your payments is: @ViewBag.paySum</h3>
}
