
@{
    ViewBag.Title = "Page One";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" class="form-group">
                
                <!--this input takes the temperature amount-->
                <label for="temperature">Temperature:</label>
                <input type="text" class="form-control" name="temperature" value="">
                
                <!--takes a parameter such as "F" for fahrenheit conversion and
                    "C" for celcius conversion.-->
                <label for="temp_type">Select Temperature Type:</label>
                <input type="text" class="form-control" name="temp_type" maxlength="1" value="" />

                <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Temperature converter</h3>
            <ol type="1">
                <li>Enter the temperature into the temperature box</li>
                <li>Enter (C)Celsius or (F)Fahrenheit</li>
                <li>Click the Submit button to convert temperature</li>
            </ol>
        </div>
    </div>
</div>

<!--displays the converted tempereature amount-->
@if (ViewBag.converted != null)
{
    <h3>Your converted temperature is: @ViewBag.converted</h3>
}


