@model IEnumerable<Final.Model.Buyer>

@{
    ViewBag.Title = "Index";
}

<h2>Buyers</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.BuyerName)</td>
    </tr>
}

</table>
