@model IEnumerable<HW8.Model.ArtWork>

@{
    ViewBag.Title = "Index";
}

<h2 class="title-h2">Art Classification</h2>
<hr />

<table class="myTable">
    <tr>
        <th>ArtWork</th>
        <th>Genre</th>
    </tr>

    @foreach (var item in Model)
    {
        foreach (var genre in item.Genres)
        {
            <tr>
                <td>@item.ArtWorkTitle</td>
                <td>@genre.GenreName</td>
            </tr>
        }
    }

</table>

@section CustomScripts
{
    <script type="text/javascript" src="~/Scripts/asyncWorker.js"></script>
}
